html {
  background: #e7f3fd;
}

body {
  display: flex;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  height: 100vh;
  /* Take full viewport height */
  margin: 0;
  font-family: fantasy;
  /* Use a generic font */
  flex-direction: column;
}

header {
  display: flex;
  background-color: #3498db;
  /* Header background color */
  color: #ffffff;
  /* Header text color */
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-family: fantasy;
  padding: 20px;
  font-size: 80px;
}

h2 {
  /* Section header text color */
  color: #302e2e;
  font-size: 56px;
  font-family: fantasy;
  margin-bottom: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

textarea {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  height: 80px;
  /* Adjust the height as needed */
  width: 100%;
  /* Take full width */
  resize: none;
  /* Disable resizing */
}

button {
  background-color: #3498db;
  /* Button color */
  color: #ffffff;
  /* Button text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#generatePassword {
  padding: 20px;
  font-size: 30px;
  margin-top: 24px;
  font-family: fantasy;
}

button:hover {
  background-color: #2980b9;
  /* Darker color on hover */
}

button:active {
  background-color: #1f618d;
  /* Dark color on click */
}